body {
    font-family: "adelle", Arial, sans-serif;
    font-size: 0.8em;
}

.row {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.row div {
    margin: 0px;
    padding: 0px;
}

.row .cell {
    width: 20%;
    display: inline-block;
    margin: 0px;
    padding: 2px 4px;
    height: 20px;
    overflow: hidden;
    top: 0px;
    float: left;
}

.row:hover .cell {
    background-color: rgb(255, 245, 200) !important;
}
.row .cell:hover {
    background-color: rgb(255, 245, 50) !important;
}

.row:nth-child(odd) .cell {background: #E0E0E0}

.row .cell-short {
    width: 8%
}

.row .cell-medium {
    width: 12%
}

.row .cell-head-inner {
    padding-right: 2em;
}

.row .cell-asc  .cell-head-inner{
    background-image: url(/img/sort-indicators.gif);
    background-repeat: no-repeat;
    background-position: right 10px;
}

.row .cell-desc  .cell-head-inner{
    background-image: url(/img/sort-indicators.gif);
    background-repeat: no-repeat;
    background-position: right -70px;
}

.row .cell-long {
    width: 30%
}

.row .cell-head {
    font-weight: bold;
    text-align: center;
    background: #e2e2e2; /* Old browsers */
  /*  background: -moz-linear-gradient(top, #e2e2e2 0%, #d1d1d1 38%, #dbdbdb 55%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(38%, #d1d1d1), color-stop(55%, #dbdbdb), color-stop(100%, #fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #d1d1d1 38%, #dbdbdb 55%, #fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%, #d1d1d1 38%, #dbdbdb 55%, #fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%, #d1d1d1 38%, #dbdbdb 55%, #fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%, #d1d1d1 38%, #dbdbdb 55%, #fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e2e2e2', endColorstr = '#fefefe', GradientType = 0); /* IE6-9 */
}
.row .callout {
    width: auto
}

.flyout {
    border: 1px solid #933;
    background-color: rgb(255, 245, 240);
    overflow: hidden;
    height: 1px;
    font-size: 150%;
}


.flyouttall {
    height: 30px;
}

.r {
    text-align: right;
}

button {
    border: 1px solid rgb(200,200,200);
    padding: 2px;
    margin: 1px;
}